body {
    margin: 0;
    overflow: hidden;
}

.container {
    display: none;

    &#welcome {
        display: block;
    }

    &#game {
        width: 100%;
        padding: 0;
    }
}

#countdown {
    display: none;
    position: fixed;
    width: 400px;
    height: 200px;
    color: #fff;
    font-size: 128px;
    text-align: center;
    left: 50%;
    top: 200px;
    margin-left: -200px;
    z-index: 9;
}